<section>
    <div class="container">
    {% for article in blogs["ALL"].articles %}
    <a href={{article.url}}>
      <div class="blog">
        <img src="{{article.image | img_url:"300x200"}}" alt="ブログのサムネイル" class="blog__thumbNail">
        <h1 class="blog__articleTitle">{{article.title}}</h1>
       <p class="blog__publishDate" style="color: white; font-size: 10px; margin-top: 20%;">{{ article.published_at | time_tag: format: 'date' }}</p>
      </div>
    </a>
    {% endfor %}
    </div>
  </section>