<section>
    <div class="container">
    {% for article in blogs["ALL"].articles %}
    <a href={{article.url}}>
      <div class="blog">
        <img src="{{article.image | img_url:"300x200"}}" alt="ブログのサムネイル" class="blog__thumbNail">
        <div style="width: 100%;">
        <h1 class="blog__articleTitle">{{article.title}}</h1>
        <p class="blog__publishDate">{{ article.published_at | time_tag: format: 'date' }}</p>
       </div>
      </div>
    </a>
    {% endfor %}
    </div>
  </section>