<section class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> <img src="/images/24189062_s.jpg" alt="" class="slider__image"><a href="#brand1">
          <div class="slider__explain">
            <h1 class="slider__explainTitle">神戸牛</h1>
            <div class="slider__explainDetail">
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <p class="slider__explainTap">詳しくはスライドをタップ</p>
          </div>
        </a></div>
      <div class="swiper-slide"> <img src="images/3722297_s.jpg" alt="" class="slider__image"><a href="#brand2">
          <div class="slider__explain">
            <h1 class="slider__explainTitle">仙台牛</h1>
            <div class="slider__explainDetail">
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <p class="slider__explainTap">詳しくはスライドをタップ</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide"><img src="images/4091193_s.jpg" alt="" class="slider__image"><a href="#brand3">
          <div class="slider__explain">
            <h1 class="slider__explainTitle">松阪牛</h1>
            <div class="slider__explainDetail">
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <p class="slider__explainTap">詳しくはスライドをタップ</p>
          </div>
        </a></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- slider -->
</section>