<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
  <section>
    <h1 class="sectionTitle"><span>M</span>ap</h1>
    <div class="container">
      <iframe class="footer__googleMap"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.5550582352525!2d139.7038615!3d35.7125654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d399ddaa763%3A0x954afc3e292c9a7e!2z6auY55Sw6aas5aC06aeF!5e0!3m2!1sja!2sjp!4v1657539429909!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  
    </section>
  
    <footer>
     <a href="./index.html"> <img class="footer__shopLogo" src="./images/logo.png" alt=""></a>
      <div class="footer__links">
        <a class="footer__link" href="index.html">
          <h4><span>H</span>ome</h4>
        </a>
        <a class="footer__link" href="feature.html">
          <h4><span>P</span>roduct</h4>
        </a>
        <a class="footer__link" href="blog.html">
          <h4><span>B</span>log</h4>
        </a>
      </div>
      <ul class="footer">
        <li class="mobile-menu__list">
          <div class="footer__map"><img class="footer__logo" src="images/map.png" alt="">
            <p>〒100-0014 東京都千代田区永田町１丁目７−１</p>
          </div>
        </li>
        <div class="footer__contact">
          <li class="mobile-menu__list">
            <div class="footer__tel"><img class="footer__logoTel" src="images/phone.png" alt="">
              <p>000-123-4567</p>
            </div>
          </li>
          <div class="footer__snsLogo">
            <li class="footer__list"><img class="footer__logo instagram" src="images/instagram.png" alt=""></li>
            <li class="mobile-menu__list"><img class="footer__logo facebook" src="images/facebook.gif" alt=""></li>
          </div>
        </div>
      </ul>
  
    </footer>
    <script src="{{ 'original-main.js' | asset_url }}"></script>
</body>
</html>

  