<section>
  <h1 class="sectionTitle"><span>R</span>ecommend</h1>
  <div class="container">
    <ul class="product__all">
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="images/karubi.jpg" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="images/3722297_s.jpg" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="images/4091193_s.jpg" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="images/23768190_s.jpg" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
    </ul>
  </div>
</section>