<section>
  <h1 class="sectionTitle"><span>B</span>rand</h1>
  <div class="container">
    <div class="bg">
      <a id="brand1"></a>
      <div class="glass">
        <img class= "brand__img" src="./images/brand1.jpg"/>
        <h1 class="brand__title">{{section.settings.brand1-title}}</h1>
        <p>{{section.settings.brand1-description}}</p>
      </div>
    </div>
    <div class="bg">
      <div class="glass">
        <a id="brand2"></a>
        <img class= "brand__img" src="./images/brand2.jpg"/>
        <h1 class="brand__title">{{section.settings.brand2-title}}</h1>
        <p>{{section.settings.brand2-description}}</p>
      </div>
    </div>
    <div class="bg">
      <div class="glass">
        <a id="brand3"></a>
        <img class= "brand__img" src="https://www.city.matsusaka.mie.jp/uploaded/image/5017.jpg"/>
        <h1 class="brand__title">松阪牛</h1>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </div>
  </div>
  <!-- brand -->
</section>

{% schema %}
{
	"name": "Brand1",
	"settings": [
  {
    "type": "text",
    "id": "brand1-title",
    "default":"神戸牛",
    "label": "ブランドの説明を書いてください"
  },
		{
			"type": "textarea",
			"id": "brand1-description",
      "default":"ここに神戸牛の説明を入れるんやでー",
			"label": "ブランドの説明を書いてください"
		},
    {
      "type": "text",
      "id": "brand2-title",
      "default":"仙台牛",
      "label": "ブランドの説明を書いてください"
    },
    {
      "type": "textarea",
      "id": "brand2-description",
      "label": "コメント２",
      "default": "ここにブランド２つ目の説明"
    }
	]
}
{% endschema %}