{% assign collection = collections["collection"] %}

<ul>
{% for product in collection.products %}
<li>{{product.title}}</li>
{% endfor %}
</ul>



<!-- <div>
  <h1 class="sectionTitle"><span>R</span>ecommend</h1>
  <div class="container">
    <ul class="product__all">
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="images/karubi.jpg" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="#" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="#" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
      <a href="cart.html">
        <li class="product__list">
          <div class="product">
            <img src="#" alt="" class="product__image">
            <div class="product__info">
              <h1 class="product__title">Title</h1>
              <p class="product__explainTap">Tapで購入ページへ</p>
            </div>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>

{% schema %}
{
	"name": "Toppage Collection",
	"settings": [
		{
			"type": "collection",
			"id": "toppage_collection",
			"label": "Toppage_Collection"
		}
	]
}
{% endschema %} -->